{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load i18n %}

{% block content %}
<div class="formBlock">
<h3>Welcome Back</h3>
<form method="post" action=".">{% csrf_token %}

  <div class="col-sm-4">

    {{ form|crispy }}

    <input type="submit" value="{% trans 'Log in' %}" class="btn btn-default" />
    <input type="hidden" name="next" value="{{ next }}" />

    <p>or</p>

    <br>
    <p style="font-size: 20px;">{% trans "Forgot password" %}? <a href="{% url "auth_password_reset" %}">{% trans "Reset it" %}</a></p>
    <br>
    <p style="font-size: 20px;">{% trans "Not member" %}? <a href="{% url "registration_register" %}">{% trans "Register" %}</a></p>


  </div><br /><br />




</form>



</div>
{% endblock %}
